/*  positioning our image*/
img {
    position:relative; left:380px; bottom:200px
}

/*  positioning the price tag*/
#Price_p{
    position: relative;
    bottom: 250px;
}

/*  positioning the price number */
#price{
    position: relative;
    bottom: 250px;
}

/*  positioning the description tag*/
#descript{
    position: relative;
    bottom: 250px;
}

/*  positioning the description of the laptops*/
#description{
    position: relative;
    bottom: 250px;
}

/*  positioning the name of the laptops and changing the size*/
#name{
    position: relative;
    bottom: 550px;
    left: 700px;
    font-size: 25px;
}

/* Positioning the buy button and doing some changes in it*/
#buyButton{
    position: relative;
    bottom: 250px;
    color: red;
    background-color: white;
    font-size: 20px;
}

/* Positioning the work button and doing some changes in it*/
#workButton{
    position: relative;
    color: white;
    background-color: black;
    font-size: 18px;
}

/* Positioning the bank button and doing some changes in it*/
#bankButton{
    position: relative;
    color: black;
    background-color: green;
    font-size: 18px;
}

/* Positioning the repay button and doing some changes in it*/
#repayButton{
    color: black;
    bottom: 300px;
}
